.contactoForm {
    max-width: 1500px;
    width: 90%;
    margin: 10px auto;
}
.comentario {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: $padding;
    font-family: 'Open Sans', sans-serif;
}