.aparecer {
    display: none;
}
@media (min-width: 801px) {
    .aparecer {
        display: block;
    }
}
@media (max-width: 601px) {
    .aparecer {
        display: block;
    }
    textarea#comment {
        height: 180px;
    }
}