.pie__parrafo {
  color: #5d385d; }

.principal__titulo {
  font-family: 'Redressed', cursive; }

.principal__parrafo {
  color: #5d385d; }

.entregados__parrafo {
  color: #5d385d;
  text-align: center; }

.entregados {
  text-align: center;
  padding-top: 10px;
  font-family: 'Redressed', cursive; }

h3 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px; }

.contacto {
  padding: 45px; }
  .contacto p {
    color: #5d385d; }

.menuRedes__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  /*operacion*/ }

.menuRedes__items--fb {
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 34px; }

.menuRedes__items--insta {
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px; }

.fondo {
  background-image: url("/tpcoder/Git/img/background/fondo.jpg"); }

.aparecer {
  animation-duration: 3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.productos {
  max-width: 1500px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px; }

.productos .card figure {
  overflow: hidden; }

.card-img-top:hover img {
  transition: all .4s ease-in-out; }

.row {
  justify-content: center; }
  .row .card {
    margin: 15px;
    justify-content: center; }

.card-img-top {
  height: 300px; }

.pie {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 15px; }

.principal {
  padding: 15px 15px 0 15px; }

.botones {
  padding-bottom: 10px; }

.aparecer {
  display: none; }

@media (min-width: 801px) {
  .aparecer {
    display: block; } }

@media (max-width: 601px) {
  .aparecer {
    display: block; } }

.navbar {
  padding-left: 15px;
  list-style: none;
  text-transform: uppercase;
  font-size: 22px; }
  .navbar a {
    text-decoration: none;
    color: #343232; }
  .navbar a:hover {
    color: black;
    text-shadow: 2px 2px 4px #adad85; }

.contactoForm {
  max-width: 1500px;
  width: 90%;
  margin: 10px auto; }

.comentario {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif; }
