<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--SEO-->
  <meta name="description" content="Triskel macrame es una tienda de diseño personalizado para la decoración del hogar, con productos artesanales y ecofriendly.">
  <meta name="keywords" content="portamacetas, plantas, maceteros, repisa">
  <link rel="stylesheet" href="../sass/css/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Triskel - Portamacetas</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
  <a class="navbar-brand" href="../index.html"><img class="aparecer" src="img/index/tm_logo.svg" alt="Triskel Macrame"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="portamaceta.html">Portamaceta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tapiz.html">Tapiz</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accesorios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="accesorios.html">Ver Todos</a></li>
            <li><a class="dropdown-item" href="espejos.html">Espejos</a></li>
            <li><a class="dropdown-item" href="lamparas.html">Lámparas</a></li>
            <li><a class="dropdown-item" href="mantas.html">Mantas</a></li>
            <li><a class="dropdown-item" href="almohadones.html">Almohadones</a></li>
            <li><a class="dropdown-item" href="decoraciones.html">Decoraciones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
</nav>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="img/carrusel/imge_1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="img/carrusel/imge_2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="img/carrusel/imge_3.png" class="d-block w-100" alt="...">
        </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
  </div>
<main>
  <h1 class="entregados display-4">Portamacetas</h1> 
  <p class="entregados__parrafo lead">Adorna tu jardín, invernadero o living. Nuestros portamacetas estan inspirados en la naturaleza, y por eso le dimos a cada uno el nombre de un árbol.</p>
  <section class="fondo">
    <div class="productos">
      <div class="row">
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta1-min.jpg" alt="Portamaceta Acacia"></figure>
          <div class="card-body">
            <h2 class="card-title">Acacia</h2>
            <p class="card-text">Hecho en hilo de 4mm de algodón. 1 unidad.</p>
          </div>
        </div>
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta2-min.jpg" alt="Portamaceta Cedro"></figure>
          <div class="card-body">
            <h2 class="card-title">Cedro</h2>
            <p class="card-text">Combinado de aro de madera e hilo de algodón de color.</p>
          </div>
        </div>
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta3-min.jpg" alt="Portamaceta Encina"></figure>
          <div class="card-body">
            <h2 class="card-title">Encina</h2>
            <p class="card-text">Tapiz portamaceta de hasta 3 unidades. Hecho en cuerda de color crema.</p>
          </div>
        </div>
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta4-min.jpg" alt="Portamaceta Fresno"></figure>
          <div class="card-body">
            <h2 class="card-title">Fresno</h2>
            <p class="card-text">Colgante único, de buen tamaño para una maceta grande.</p>
          </div>
        </div>
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta5-min.jpg" alt="Portamaceta Haya"></figure>
          <div class="card-body">
            <h2 class="card-title">Haya</h2>
            <p class="card-text">Colgante con 4 sogas guías, disponible en distintos tamaños.</p>
          </div>
        </div>
        <div class="card col-4" style="width:350px">
          <figure><img class="card-img-top" src="img/porta/porta6-min.jpg" alt="Portamaceta Nogal"></figure>
          <div class="card-body">
            <h2 class="card-title">Nogal</h2>
            <p class="card-text">Tapiz portamaceta que con base tipo repisa. Dale el uso que prefieras.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main> 
  <section class="contacto">
    <h3>¿Querés	crear tu propio diseño?</h3>
      <p class="lead">Si te interesa la idea de participar en la creación de tu diseño no dudes en hablarnos!!</p>
      <a href="contacto.html" class="btn btn-info" role="button">Te decimos cómo</a>        
  </section> 
<footer class="pie">
  <div class="menuRedes">
    <h4>Nuestras redes</h4>
    <ul class="menuRedes__items">
      <li><a class="facebook menuRedes__items--fb" href="https://www.facebook.com/Triskel-Macrame-107441181148844"><img src="img/background/facebook.jpg" alt="Facebook"></a></li>
      <li><a class="insta menuRedes__items--insta" href="https://www.instagram.com/uroboro_creaciones/"><img src="img/background/insta.jpg" alt="Instagram"></a></li>
    </ul>  
  </div>
  <div class="enviosPais">
      <figure>
          <img src="img/black-24dp (1)/2x/outline_local_shipping_black_24dp.png" title="Envios" />
          <figcaption>Envíos a todo el país</figcaption>
      </figure>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>
<!--Hasta ac SASS I-->